<h4>  Listados de empresas </h4>
Agregar Empresa
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Razon Social</th>
      <th scope="col">CUIT</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <th scope="row">{{empresa.empresaID}}</th>
      <td>{{empresa.razonSocial}}</td>
      <td>{{empresa.cuit}}</td>
      <td>{{empresa.telefono}}</td>
      <td>Eliminar - Editar </td>
    </tr>
  </tbody>
</table>
